<ion-header>
  <ion-toolbar color="primary">
      <ion-button slot="start" (click)="voltaOrcamento()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let produto of produtos" (click)="selecionaQuantidade(produto)">
      <h5 padding>Nome: {{ produto.titulo }} </h5>
      <h5 padding>Preço: {{ produto.preco | currency:'BRL':"symbol":'1.2-2' }} </h5>
    </ion-card>
  </ion-list>
</ion-content>
