<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none" class="orcamento-detalhes">
      <p class="paragrafo-atributos"><strong>Data:</strong> {{ orcamento.data | date: 'dd/MM/yyyy' }}</p>
    </ion-item>
 
    <ion-item lines="none" class="orcamento-detalhes">
      <p class="paragrafo-atributos"><strong>Cliente:</strong> {{ orcamento.cliente.nome }}</p>
    </ion-item>

    <ion-item lines="none" class="orcamento-detalhes">
      <p class="paragrafo-atributos"><strong>Vendedor:</strong> {{ orcamento.vendedor.nome }} </p>
    </ion-item>

    <ion-item lines="none" class="orcamento-detalhes">
        <p class="paragrafo-atributos"><strong>Total:</strong> {{ orcamento.total | currency:'BRL':"symbol":'1.2-2' }}</p>
    </ion-item>

    <ion-item lines="none" class="orcamento-detalhes">
        <p class="paragrafo-atributos"><strong>Produtos:</strong></p>
      </ion-item>

    <ion-list>
      <ion-card *ngFor="let produto of orcamento.itens" class="produto-espaco">
        <ion-grid>

          <ion-row>
            <ion-col>
              <p class="produto-detalhes"><strong>Nome:</strong> {{ produto.produto.titulo }}</p>
              <p class="produto-detalhes"><strong>Quantidade:</strong> {{ produto.quantidade }}</p>
              <p class="produto-detalhes"><strong>Valor:</strong> {{ produto.valor | currency:'BRL':"symbol":'1.2-2' }}</p>
              <p class="produto-detalhes"><strong>Total:</strong> {{ (produto.valor) * (produto.quantidade) | currency:'BRL':"symbol":'1.2-2' }}</p>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card>
    </ion-list>
    
  </ion-list>
</ion-content>