<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Orçamentos
    </ion-title>
    <ion-button [routerLink]="['/cadastro-orcamento']" slot="end">
        <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-card *ngFor="let orcamento of orcamentos">
      <ion-grid>
        <!-- TO DO?: Set Data as Header or main text  -->
        <ion-row>
          <ion-col size="6">
            <p>Data {{ orcamento.data | date: 'dd/MM/yyyy' }}</p>
            <p>Vendedor: {{ orcamento.vendedor.nome }}</p>
            <p>Cliente: {{ orcamento.cliente.nome }} </p>
          </ion-col>
          <ion-col text-right>
            <p>Valor: R$ {{ orcamento.total }} </p>
              <ion-button color="light" (click)="selecionaOrcamento(orcamento)">
                <ion-icon name="information-circle-outline"></ion-icon>
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>

</ion-content>