<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de Orçamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="cadastraOrcamento()" #formulario="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-margin-top">


          <ion-item lines="none">
            <ion-label>Selecione um cliente</ion-label>
          </ion-item>
          <ion-item>
            <ion-input name="cliente" placeholder="Cliente" disabled></ion-input>
            <ion-button color="light">
              <ion-icon name="arrow-round-forward"></ion-icon>
            </ion-button>
          </ion-item>


          <ion-item lines="none">
              <ion-label>Selecione um vendedor</ion-label>
            </ion-item>
            <ion-item>
              <ion-input name="vendedor" placeholder="Vendedor" disabled></ion-input>
              <ion-button color="light">
                <ion-icon name="arrow-round-forward"></ion-icon>
              </ion-button>
            </ion-item>


          <ion-item lines="none">
            <ion-label>Produtos</ion-label>
            <ion-button color="light">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-item>


        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-title>Total: R$ </ion-title>
      <ion-button expand="full">Salvar Orçamento</ion-button>
  </ion-toolbar>
</ion-footer>
