<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de Orçamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="cadastroOrcamento()" #formulario="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-margin-top">


          <ion-item lines="none">
            <ion-label>Selecione um cliente</ion-label>
          </ion-item>
          <ion-item>
            <ion-input name="cliente" disabled> {{ cliente.nome }} </ion-input>
            <ion-button (click)="listaClientes()" color="light">
              <ion-icon name="arrow-round-forward"></ion-icon>
            </ion-button>
          </ion-item>


          <ion-item lines="none">
              <ion-label>Selecione um vendedor</ion-label>
            </ion-item>
            <ion-item>
              <ion-input name="vendedor" disabled>{{ vendedor.nome }}</ion-input>
              <ion-button (click)="listaVendedores()" color="light">
                <ion-icon name="arrow-round-forward"></ion-icon>
              </ion-button>
            </ion-item>


          <ion-item lines="none">
            <ion-label>Produtos</ion-label>
            <ion-button (click)="listaProdutos()" color="light">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-list>
            <ion-card *ngFor="let produto of produtos">
              <ion-grid>
                <ion-row>

                  <ion-col size="9">
                    <p>Nome: {{ produto.titulo }}</p>
                    <p>Preço: {{ produto.preco | currency:'BRL':"symbol":'1.2-2' }}</p>
                  </ion-col>

                  <ion-col>
                    <ion-button (click)="quantidadeProdutoMais(produto)" size="small" color="light">
                      <ion-icon name="arrow-dropup"></ion-icon>
                    </ion-button>
                    <div>
                      <ion-label start>Qtd.: {{ produto.quantidade }} </ion-label>
                    </div>
                    <ion-button (click)="quantidadeProdutoMenos(produto)" size="small" color="light">
                      <ion-icon name="arrow-dropdown"></ion-icon>
                    </ion-button>
                  </ion-col>

                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-list>


        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-title>Total: R$ </ion-title>
      <ion-button expand="full" (click)="formulario.ngSubmit.emit()">Salvar Orçamento</ion-button>
  </ion-toolbar>
</ion-footer>
