.ion-margin-top {
    margin-top: 10px;
}

.alinhar-direita {
    padding-left: 10%;
}

.quantidade-center {
    text-align: center;
}

.ios ion-list{
    margin-bottom: 0;
    padding-top: 8px;
}

ion-card{
    margin-top: 0;
    margin-bottom: 15px;
}

.espaco-detalhes {
    margin-top: 5px;
    margin-bottom: 0;
}

.espaco-itens {
    margin-bottom: 0;
    margin-top: 0;
}

.salva-button {
    margin: 0;
}
