<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [text]="''" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Novo Orçamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="cadastroOrcamento()" #formulario="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-margin-top">

          <ion-item class="espaco-itens" lines="none">
            <p class="espaco-detalhes"><strong>Selecione um cliente</strong></p>
          </ion-item>
          <ion-item lines="none">
            <p> {{ cliente.nome }} </p>
            <ion-button slot="end" (click)="listaClientes()" color="success">
              <ion-icon name="arrow-round-forward"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item class="espaco-itens" lines="none">
            <p class="espaco-detalhes"><strong>Selecione um vendedor</strong></p>
          </ion-item>
          <ion-item lines="none">
            <p> {{ vendedor.nome }} </p>
            <ion-button slot="end" (click)="listaVendedores()" color="success">
              <ion-icon name="arrow-round-forward"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item class="espaco-itens" lines="none">
            <p class="espaco-detalhes"><strong>Total do Orçamento:</strong> {{ produtosTotal | currency:'BRL':"symbol":'1.2-2' }} </p>
          </ion-item>

          <ion-item lines="none" class="espaco-detalhes">
            <p><strong>Produtos</strong></p>
            <ion-button slot="end" (click)="listaProdutos()" color="success">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-list>
            <ion-card *ngFor="let produto of produtos; let key = index, let produto" class="card-produto">
              <ion-grid>
                <ion-row>

                  <ion-col size="8">
                    <p>Nome: {{ produto.titulo }}</p>
                    <p>Valor Unidade: <br> {{ produto.preco | currency:'BRL':"symbol":'1.2-2' }}</p>
                    <p>Total: {{ (produto.preco) * (produto.quantidade) | currency:'BRL':"symbol":'1.2-2' }}</p>
                  </ion-col>

                  <ion-col class="alinhar-direita">
                    <ion-button (click)="quantidadeProdutoMais(produto)" size="small" color="primary">
                      <ion-icon name="add"></ion-icon>
                    </ion-button>
                    <div class="quantidade-center">
                      <ion-label> {{ produto.quantidade }} </ion-label>
                    </div>
                    <ion-button (click)="quantidadeProdutoMenos(produto)" size="small" color="primary">
                      <ion-icon name="remove"></ion-icon>
                    </ion-button>
                    <ion-button size="small" color="danger" (click)="removeProduto(key, produto)">
                      <ion-icon name="trash"></ion-icon>
                    </ion-button>
                  </ion-col>
                  
                </ion-row>
              </ion-grid>
            </ion-card>
            <!-- <ion-button (click)="listaProdutos()" color="light">
              <ion-icon name="add"></ion-icon>
            </ion-button> -->
          </ion-list>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
    <ion-button expand="full" (click)="formulario.ngSubmit.emit()" class="salva-button">Salvar Orçamento</ion-button>
</ion-footer>
