.ion-margin-top {
    margin-top: 10px;
}

.alinhar-direita {
    padding-left: 10%;
}

.ios ion-title {
    padding-left: 15%;
    padding-right: 15%;
}

.quantidade-center {
    text-align: center;
}